.button {
    color: $white;
    background-color: $black-alpha;

    &--active {
        background-color: $grey-alpha;
    }

    &--emphasized {
        color: $black;

        background-color: $accent;
        &--active {
            background-color: $accent-alpha;
        }
    }
}

.title {
    position: relative;
    width: max-content;
    padding-left: 1ch;
    color: $accent;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 0.4ch;
        border-left: 0.1em solid $accent-alpha;
        border-right: 0.1em solid $accent-alpha;
    }
}

.surface {
    background-color: $white-alpha;

    h2 {
    }
    h3 {
    }
    img {
    }
    p {
    }
}
