.button {
    color: $white;
    background-color: $black-alpha;
    padding: 0.6em 1.2em;
    border-radius: 99em;
    border: 2px solid $white;
    white-space: nowrap;

    &:hover {
        color: $black;
        background-color: $white;
    }

    &--active {
        color: $grey-alpha;
        border-color: $grey-alpha;

        &:hover {
            color: $grey-alpha;
            background-color: $black;
        }
    }

    &--emphasized {
        color: $black;
        background-color: $accent;
        border-color: $accent;

        &:hover {
            color: $accent;
            background-color: $black;
        }

        &--active {
            color: $accent-alpha;
            background-color: $black;
            border-color: $accent-alpha;

            &:hover {
                color: $accent-alpha;
                background-color: $black;
            }
        }
    }
}

.button-container {
    @include flex-row();
    column-gap: 1em;
}

.title {
    position: relative;
    width: max-content;
    padding-left: 1ch;
    color: $accent;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 0.4ch;
        border-left: 0.1em solid $accent-alpha;
        border-right: 0.1em solid $accent-alpha;
    }
}

.subtitle {
    color: $grey-alpha;
    text-align: center;
}

.surface {
    background-color: $white-alpha;
    padding: 1.5rem;
    border-radius: 1.5rem;
    h2 {
        text-align: center;
    }
    h3 {
        text-align: center;
        color: $dark-grey-alpha;
    }
    p {
    }
}

.post {
    width: 18rem;
    // height: 23rem;
}

.post-container {
    @include flex-row();
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.error-message {
    color: $error;
    font-weight: bold;
}

.link {
    text-decoration: underline;
}
