@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-bg text-fg;
  scroll-behavior: smooth;
}

p,
a {
  @apply text-lg;
}

/* Typography */

.text-r-6xl {
  @apply text-6xl;
}
.text-r-5xl {
  /* H1 */
  @apply text-5xl;
}
.text-r-4xl {
  /* H2 */
  @apply text-4xl;
}
.text-r-3xl {
  /* H3 */
  @apply text-3xl;
}
.text-r-2xl {
  /* H4 */
  @apply text-2xl;
}
.text-r-xl {
  /* H5 */
  @apply text-xl;
}
.text-r-lg {
  /* H6 / Base */
  @apply text-lg;
}
.text-r-md {
  /*  */
  @apply text-base;
}
.text-r-sm {
  /*  */
  @apply text-sm;
}
.text-r-xs {
  /*  */
  @apply text-xs;
}

/* Special  */

.custom-home-bg {
  @apply relative z-0 flex min-h-screen items-center overflow-x-clip;
}

.custom-home-bg::before {
  @apply absolute -z-10 aspect-square;
  content: "";
  top: -100vmin;
  right: -50vmin;
  width: 200vmin;
  background: radial-gradient(
    circle farthest-side at center,
    #deb887 0%,
    #00000000 100%
  );
}

.custom-home-bg::after {
  @apply absolute inset-0 -z-10 object-cover;
  content: "";
  background-image: url("/images/grid.svg");
}
