@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,400;1,500&family=Roboto+Slab:wght@400;500;700&display=swap");

$black: #0e0e0e;
$black-alpha: rgba(0, 0, 0, 0.8);
$white: #fff;
$white-alpha: rgba(256, 256, 256, 0.6);
$grey: rgb(168, 168, 168);
$grey-alpha: rgba(119, 119, 119, 0.6);
// $disabled: #777;
$highlight: #ffe8b7;

$font-mono: "DM Mono", monospace;
$font-serif: "Roboto Slab", serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-serif;
  color: $black;
}

@media screen and (min-height: 601px) {
  body {
    font-size: 14pt;
  }
}

@media screen and (max-height: 600px) {
  body {
    font-size: 10pt;
  }
}

// Mixins
@mixin parallel-lines($color, $width, $gap) {
  content: "";
  position: absolute;
  border-top: $color solid 0.1em;
  border-bottom: $color solid 0.1em;
  height: $width;
  left: 0;
  right: 0;
  top: $gap;
}

.bg-image {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-image: linear-gradient($black-alpha, $black-alpha),
    url(/src/math-bg.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 88vh;

  &__titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.3ch;

    &--main {
      position: relative;
      color: $white;
      font-family: $font-mono;
      font-size: 2.5rem;
      margin-bottom: 3rem;

      // Parallel Lines
      &::after {
        @include parallel-lines($grey-alpha, 1rem, 120%);
      }
    }

    &--sub {
      color: $grey;
      font-family: $font-serif;
    }
  }

  &__btn-box {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin-block: 3rem;
    column-gap: 3rem;
    row-gap: 2rem;

    &__btn {
      background-color: $black-alpha;
      color: $white;
      text-decoration: none;
      width: max-content;
      border: $white solid 2px;
      border-radius: 99em;
      padding: 0.75em 1.75em;
      transition: background-color 250ms ease-in-out;

      &:hover,
      :focus {
        background-color: $white;
        color: $black;
        font-weight: bold;
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  align-items: center;
  justify-content: space-evenly;

  &__card {
    width: 90%;
    max-width: 60rem;
    background-color: $white-alpha;
    border-radius: 2rem;
    padding: 2.2rem;
    line-height: 1.4;

    h1 {
      position: relative;
      width: max-content;
      margin-bottom: 1rem;
      font-size: 2rem;
      font-family: $font-mono;

      &::after {
        @include parallel-lines($grey-alpha, 0.4rem, 100%);
      }
    }
  }
}
