@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,400;1,500&family=Roboto+Slab:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background: #ffe8b7;
  color: #0e0e0e;
}

::selection {
  background: #ffe8b7;
  color: #0e0e0e;
}

body {
  font-family: "Roboto Slab", serif;
  color: #0e0e0e;
  background-color: #0e0e0e;
}

.bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0e0e0e), to(#0e0e0ecc)), url(/src/math-bg.jpg);
  background-image: linear-gradient(0deg, #0e0e0e 0%, #0e0e0ecc 100%), url(/src/math-bg.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 5rem;
  top: 0;
  background-color: #0e0e0e;
  z-index: 10;
}

.nav__title {
  position: relative;
  margin-left: 2em;
  color: #ffe8b7;
}

.nav__title::before {
  content: "";
  position: absolute;
  border-left: #ffe8b754 solid 0.1em;
  border-right: #ffe8b754 solid 0.1em;
  top: 0;
  bottom: 0;
  width: 0.4em;
  left: -1em;
}

.nav__toggle {
  position: relative;
  width: 3rem;
  height: 3rem;
  margin: 1rem;
  background-color: unset;
  border: none;
}

.nav__icon {
  position: relative;
  border-top: #ffe8b754 solid 0.2rem;
  border-bottom: #ffe8b754 solid 0.2rem;
  width: 100%;
  height: 70%;
}

.nav__icon::after {
  content: "";
  position: absolute;
  background-color: #ffe8b754;
  width: 100%;
  height: 0.2rem;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.nav__icon:hover, .nav__icon:focus {
  border-color: #ffe8b7;
}

.nav__icon:hover::after, .nav__icon:focus::after {
  background-color: #ffe8b7;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
  row-gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
  list-style-type: none;
  -webkit-transition: -webkit-transform 150ms ease-in-out;
  transition: -webkit-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
}

.nav__list--open {
  margin: 0;
  padding: 2rem;
  background-color: #0e0e0e;
  border-radius: 0 0 0 1rem;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.nav__item {
  background-color: #0e0e0ecc;
  color: #fff;
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: #fff solid 2px;
  border-radius: 99em;
  padding: 0.75em 1.75em;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
  padding: 0.5em 1em;
  text-align: center;
  width: 100%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.nav__item:hover,
.nav__item :focus {
  background-color: #fff;
  color: #0e0e0e;
  font-weight: bold;
}

.nav__item a {
  color: unset;
  text-decoration: none;
}

.nav__item--emphasize {
  background-color: #ffe8b7;
  color: #0e0e0e;
  font-weight: bold;
  border-color: #ffe8b7;
}

.nav__item--emphasize:hover,
.nav__item--emphasize :focus {
  background-color: #0e0e0e;
  color: #ffe8b7;
}

.nav__item--active {
  color: #77777799;
  border-color: #77777799;
  background-color: none;
}

.nav__item--active:hover,
.nav__item--active :focus {
  background-color: #0e0e0e;
  color: #77777799;
  font-weight: normal;
}

@media screen and (max-width: 750px) {
  .nav__list {
    position: absolute;
    top: 5rem;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav__toggle {
    visibility: visible;
    position: relative;
  }
}

@media screen and (min-width: 750px) {
  .nav__list {
    position: relative;
  }
  .nav__toggle {
    visibility: hidden;
    position: absolute;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  row-gap: 3rem;
  margin-bottom: 5rem;
  width: 100%;
  height: 80vh;
}

.header__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  letter-spacing: 0.3ch;
  row-gap: 3rem;
}

.header__titles--main {
  position: relative;
  color: #ffe8b7;
  font-family: "DM Mono", monospace;
  font-size: 3rem;
  margin-left: 1em;
}

.header__titles--main::after {
  content: "";
  position: absolute;
  border-left: #ffe8b754 solid 0.1em;
  border-right: #ffe8b754 solid 0.1em;
  top: 0;
  bottom: 0;
  width: 0.4em;
  left: -0.9em;
}

.header__titles--sub {
  color: #a8a8a8;
  font-family: "Roboto Slab", serif;
}

.header__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 2rem;
}

.header__btn-box__btn {
  background-color: #0e0e0ecc;
  color: #fff;
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: #fff solid 2px;
  border-radius: 99em;
  padding: 0.75em 1.75em;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}

.header__btn-box__btn:hover,
.header__btn-box__btn :focus {
  background-color: #fff;
  color: #0e0e0e;
  font-weight: bold;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 5rem;
}

.content__card {
  width: 90%;
  max-width: 60rem;
  background-color: #ffffff99;
  border-radius: 2rem;
  padding: 2rem;
  line-height: 1.4;
}

.content__card h2 {
  margin-bottom: 0.25em;
  font-family: "DM Mono", monospace;
}
/*# sourceMappingURL=style.css.map */